<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXbGoO7iE3R8T-jya7WMCg3hRgSV6iefs</string>
	<key>GCM_SENDER_ID</key>
	<string>1055432311789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbAuthProvider</string>
	<key>PROJECT_ID</key>
	<string>fb-auth-provider-1f8aa</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-auth-provider-1f8aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055432311789:ios:87e249ade6ed9692e85de4</string>
</dict>
</plist>